.customerlist {
  padding: 4rem;
}
.customerlist h3 {
  text-align: left;
}
.listrow {
  display: flex;
  width: 100%;
}

.listrow table {
  width: 100%;
}

.listrow table thead {
  background: royalblue;
  color: #ffffff;
}
.listrow table .odd {
  background: rgb(203, 235, 247);
}
.listrow table .eve {
  background: rgb(211, 226, 244);
}
